html {
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    transition: .5s;
}
/*

- Very Light Gray: hsl(0, 0%, 98%) background
- Very Light Grayish Blue: hsl(236, 33%, 92%)
- Light Grayish Blue: hsl(233, 11%, 84%)
- Dark Grayish Blue: hsl(236, 9%, 61%) button 
- Very Dark Grayish Blue: hsl(235, 19%, 35%) paragraph


### Dark Theme

- Very Dark Blue: hsl(235, 21%, 11%)
- Very Dark Desaturated Blue: hsl(235, 24%, 19%)
- Light Grayish Blue: hsl(234, 39%, 85%)
- Light Grayish Blue (hover): hsl(236, 33%, 92%)
- Dark Grayish Blue: hsl(234, 11%, 52%)
- Very Dark Grayish Blue: hsl(233, 14%, 35%)
- Very Dark Grayish Blue: hsl(237, 14%, 26%)


*/


body{
    font-family: 'Josefin Sans', sans-serif;    
    background-color: hsl(0, 0%, 98%);
    
}

.dark-body{
    background-color: hsl(235, 21%, 11%);
}
header{
    background-image: url(../img/bg-desktop-light.jpg);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dark-header{
    background-image: url(../img/bg-desktop-dark.jpg);
}
.title, .task-list{
    width: 400px;
}
.title{
    display: flex;
    justify-content: space-between;
}
.title h1{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1rem;
}
.title button{
    background: none;
    border: none;
    cursor: pointer;
}
#img-mode{
    width: 20px;
}
#input-task{
    margin-bottom: 1rem;
    height: 50px;
    border-radius: 7px;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    padding-left: 50px;
    width: 350px;    
}
.dark-input{
    background-color: hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
}
.dark-input::placeholder{
    color: hsl(234, 11%, 52%);
}
#input-task:focus{
    border: none;
    outline: none;
}
#input-task::placeholder{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}
.add-new-task{
    background: none;
    border: none;
    position: absolute;
    top: 216px;
    margin-left: -38px;
    cursor: pointer;
}
.add-new-task img{
    transform: rotate(45deg);
}
.task-list{
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0px 0px 32px rgba(122, 122, 122, 0.2);
}
.dark-task-list{
    background-color: hsl(235, 24%, 19%);
}
.app-task{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
}
.task-list ul li{
    border-bottom: hsl(233, 11%, 84%) solid 1px;
    list-style: none;
    
}
.task-list-item:hover{
    transform: translateY(-2px);
    
}
.dark-task-list ul li {
    border-bottom: hsl(233, 14%, 35%) solid 1px;
}
.task-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(235, 19%, 35%);
}
.task-complete{
    text-decoration: line-through;
    color: hsl(234, 11%, 52%);
}
.dark-task-list .task-list-item{
    color: hsl(234, 39%, 85%);
}
.task-list-item input{
    margin-right: 15px;
   
}



.task-list ul li button{
    background: none;
    border: none;
    cursor: pointer;
    
}
.task-list-item, .footer-task{
    padding: 20px;
}
.footer-task{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer-task button:first-child{
   color: hsl(220, 98%, 61%);
}
.footer-task button{
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: hsl(236, 9%, 61%);
    font-size: 0.7rem;

}
.dark-footer button{
    color: hsl(234, 39%, 85%);
}
.footer-task button:hover{
    color: hsl(235, 19%, 35%);
    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.dark-footer button{
    color: hsl(234, 39%, 85%);
}
.dark-footer button:hover{
    color: hsl(236, 33%, 92%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.footer-task div button{
    margin-right: 5px;
}
.footer-task p{
    color:hsl(233, 11%, 84%);
    font-size: 0.7rem;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    color: hsl(236, 9%, 61%);

}
footer a{
    text-decoration: none;
}


#select-all-task{
    position: absolute;
    top: 213px;
    margin-left: 17px;
}

.task-input-checkbox{
    -webkit-appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background: transparent;
    border: 1.5px solid hsl(233, 14%, 35%);
    cursor: pointer;
    transition: 0;

}
.task-input-checkbox:checked{
    background: linear-gradient(140deg, rgba(0,249,221,1) 10%, rgba(204,0,254,1) 99%);
    border: none;
    
}
.task-input-checkbox::before{
    content: '';
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    pointer-events: none;
    background-image: url('../img/icon-check.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.task-input-checkbox::before{
    display: none;
}
.task-input-checkbox:checked::before{
    display: block;
}
.done{
    text-decoration: line-through;
    font-style: italic;
}   


.task-list ul li button img{
    pointer-events: none;
}